#reset-password-modal-container {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
#reset-password-modal-content {
    display: flex !important;
    flex-direction: column;
    gap: 20px;
}
#reset-password-modal-content #login-error-message {
    min-height: 19px;
}
div #password > i,
div #repeated-password > i {
    padding: 5px;
    font-size: 1.2rem;
    margin-top: calc(-0.6rem - 5px);
}
.initial-reset-password-submit-button {
    background-color: var(--success-color) !important;
    width: 8rem;
    align-self: center;
}
.multiple-password-validation-errors {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
