header {
    width: 100%;
    position: fixed;
    z-index: 2000;
    height: 60px;
    background-color: var(--header-background);
    align-items: center;
}

header .menubar {
    width: 100%;
    padding: 0px 30px;
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    align-items: center;
    color: black;
    height: 100%;
}

.header-end-buttons {
    display: flex;
    flex-direction: row;
    justify-self: end;
}

.header-end-buttons > button {
    height: 35px;
    margin-right: 10px;
    min-width: 100px;
    font-size: 15px !important;
}