.button-delete-vrstazivotinje {
    background-color: red;
}

.vrstazivotinje-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.back-action {
    font-size: 20px;
}

.checkbox-sektor {
    margin-left: 20px;
}

.add-new {
    display: flex;
    justify-content: space-between;
}

.add-new > button {
    margin-right: 0px;
    height: 3rem;
}

.vrstazivotinje-form-back-action {
    padding-top: 20px;
}

.zoo-container-header {
    padding-bottom: 0px !important;
}
