.button-delete-nastamba {
    background-color: red;
}

.nastamba-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.back-action {
    font-size: 20px;
}

.checkbox-nastambe {
    margin-left: 20px;
}
